<h1>Ввод данных</h1>
<p>Задание: Написать программу, которая вводит цепочку целых чисел (количество
чисел не менее 10) и определяет наиболее длинную монотонно возрастающую их последовательность.
</br>Вывести на печать введенную цепочку, все
найденные последовательности и наиболее длинную из них. При программировании использовать функцию.</p>
<h3>Введите цепочку целых чисел (количество
чисел не менее 10):</h3>
<h4>При наличии в последовательности различных символов, отличных от целых чисел, они будут игнорироваться!</h4>

<!--
<%= form_tag("/calc/output", :method => "post") do %>
   <%= label_tag("Ввод последовательности:") %>
   <%= text_field_tag(:v) %>
   <%= submit_tag("Результат обработки") %>
<% end %>
-->

<%= form_with url: output_path do |form| %>
  <%= form.label('Ввод последовательности:') %>
  <%= form.text_field(:v, id: 'num') %>
  <%= form.submit('Результат обработки', id: 'btn') %>
<% end %>

<div id='res-container'></div>
